<table class="table">
    <tr>
        <th>ФИО</th>
        <th>Номер телефона</th>
    </tr>
    {{#each contacts}}
    <tr {{#if @root.enabledContacts}} class="enabled" onclick="window.location.href+=`/update/{{this.id}}`" {{/if}}>
        <td>{{this.fullName}}</td>
        <td>{{this.phoneNumber}}</td>
    </tr>
    {{/each}}
</table>