<div>
    <div>
        {{> contactsBtn}}
    </div>
    <form id="form-add">
        <div>
            <input type="text" name="fullName" placeholder="ФИО" required>
            <input type="tel" name="phoneNumber" placeholder="+375291234567"
                pattern="+375[0-9]{2}[0-9]{3}[0-9]{2}[0-9]{2}" title="code_country(code_region)phone_number" required
                autocomplete="off">
        </div>
        <div>
            <button id="add" type="submit">Добавить</button>
            <button type="button" onclick="{{refuse}}">Отказаться</button>
        </div>
    </form>
</div>